<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>지니 다운로더</string>
	<key>CFBundleExecutable</key>
	<string>JiniDownloader</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.umbrellafig.jini-downloader</string>
	<key>CFBundleName</key>
	<string>Jini Downloader</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/Umbrellafig/jini-downloader/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>wCeg46Or27m6EUuTG4WQoAtuXLelfR/ytNl1bZfOJTw=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
</dict>
</plist>
